@model IEnumerable<Attendace.Models.Department>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<h1>Departments</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Department</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dept in Model)
        {
            <tr>
                <td>@dept.DepartmentName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@dept.DepartmentId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@dept.DepartmentId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

